<div class="container">
    <div class="all">
      <header>Registration Form</header>
      <form class="form" action="#">
          <div class="input-box">
              <label>Your Full Name</label>
              <input required="" placeholder="Full name" type="text">
          </div>
          <div class="input-box address">
            <label>Address</label>
  
            <div class="column">
              <!-- <div class="select-box">
                <select>
                  <option hidden="">Country</option>
                  <option>User</option>
                  <option>Admin</option>
                </select>
              </div> -->
              <input required="" placeholder="Phone" type="text">
            <input required="" placeholder="Email" type="text">
            
          </div>
  <div class="select-box">
                <select>
                  <option hidden="">Added by</option>
                  <option>User</option>
                  <option>Admin</option>
                </select>
              </div>
          </div>
          <button>Submit</button>
      </form>
    </div>
  </div>