<div class="container">
    <div class="all">
        <header>Registration Form</header>
    <form class="form" action="#">
        <div class="input-box">
            <label>Your First Name</label>
            <input required="" placeholder="Enter full name" type="text">
        </div>
        <div class="input-box">
            <label>Your Last Name</label>
            <input required="" placeholder="Enter full name" type="text">
        </div>

        <div class="input-box address">
          <label>Category</label>
          
          <div class="column">
            <div class="select-box">
              <select>
                <option hidden="">Country</option>
                <option>User</option>
                <option>Admin</option>
              </select>
            </div>

          </div>
        </div>
        <button>Submit</button>
    </form>
    </div>
</div>