<div class="body">
    <h1>Add User</h1>
    <div class="contact">
        <div class="fields">
            <input type="text" placeholder="your firstname" name="firstname">
            <input type="text" placeholder="your lastname" name="lastname">
                <select name="" id="">
                    <option value="Category">Category</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
        </div>
        <button routerLink="/dashboard">Create</button>
    </div>
</div>