<div class="body">
    <div class="contact">
        <h1>Add Contact</h1>
        <div class="fields">
            <input type="text" placeholder="Fullname" name="fullname">
            <div class="two">
                <input type="tel" placeholder="Phone" name="phone" style="margin-right:2rem ;">
                <input type="email" placeholder="Email" name="email">
            </div>
            <select name="" id="">
                <option value="Category">Added By</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <button routerLink="/dashboard">Create</button>
    </div>
</div>