<div class="container parent d-flex justify-content-center align-items-center">

    <div class="row">
        <!-- <div class="col-2"></div>/ -->
        <div class="col">
            <img src="../../assets/Sans titre.jpeg" alt="seven school logo" srcset="">
        </div>
        <!-- <div class="col-2"></div> -->
    </div>
</div>
<div class="container parent2 d-bloc justify-content-center align-items-center">
        <div class="row">
            <div class="">

                <h1 class="text text-center">Welcome to Seven Contacts !!</h1>
    
                <p class="text text-center">By Seven Advanced Academy Students</p>

            </div>
        </div><br>

        <div class="d-flex justify-content-center align-items-center">
            <a
                name=""
                id=""
                class="btn btn-primary bg-light text-dark  "
                routerLink="/dashboard"
                role="button"
                >view dashboard</a
            >
            
        </div>
   
</div>