<div class="body">
    <h1>Dashboard</h1>
    <div class="buttons">
        <button routerLink="/addcontact"> New Contact</button>
        <button routerLink="/adduser"> New User</button>
    </div>
    <div class="table">
        <h3>Contact List</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FullName</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Added By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>671623987</td>
                    <td>john&#64;gmail.com</td>
                    <td>Eric</td>
                    <td>
                        <a href="#" routerLink="/edit">Edit | </a>
                        <a href="#">Delete</a>
                    </td>
                </tr>


                <tr>
                    <td>2</td>
                    <td>John Doe</td>
                    <td>671623987</td>
                    <td>john&#64;gmail.com</td>
                    <td>Eric</td>
                    <td>
                        <a href="#" routerLink="/edit">Edit | </a>
                        <a href="#">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>John Doe</td>
                    <td>671623987</td>
                    <td>john&#64;gmail.com</td>
                    <td>Eric</td>
                    <td>
                        <a href="#" routerLink="/edit">Edit | </a>
                        <a href="#">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>