<div class="container">
    <div class="h1">
        <h1>Add User</h1>
    </div><br>

    <div class="row">
        <form action="" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="formId1" id="formId1" placeholder="your first name" />
                <label for="formId1">your first name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="formId1" id="formId1" placeholder="your last name" />
                <label for="formId1">your last name</label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Category</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
            </div><br>

            <button
                type="submit"
                class="btn btn-primary bg-light text-dark float-end"
            >
                Create
            </button>
            

        </form>
    </div>
</div>