<div class="container">
    <div class="h1">
        <h1>Edit Contact</h1>
    </div><br>

    <div class="row">
        <form action="" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="formId1" id="formId1" placeholder="full name" />
                <label for="formId1">-John Doe</label>
            </div>

            <div class="container">
                <div class="row">
                <div class="form-floating mb-3 col-6">
                    <input type="text" class="form-control" name="formId1" id="formId1" placeholder="phone" />
                    <label for="formId1">-670000000</label>
                </div>

                <div class="form-floating mb-3 col-6">
                    <input type="email" class="form-control" name="formId1" id="formId1" placeholder="email" />
                    <label for="formId1">contact@gmail.com</label>
                </div>
                </div>
            </div>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Eric</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
            </div><br>

            <button type="submit" class="btn btn-primary bg-light text-dark float-end">
                Save
            </button>


        </form>
    </div>
</div>